@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;1,700&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif !important;
}

body {
    background-color: #F7F8FE;

    &.overflow-none {
        overflow: hidden;
    }
}

/* width */
*::-webkit-scrollbar {
  width: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #A4ADBB;
  border-radius: 50px;
}

td {
    min-width: 50px;
}

.login_sidebar {
    width: 560px;
    height: 100vh;
    background-color: #4A89E8;
    background-image: url('/assets/img/Shape Parent.png');
    position: fixed;
    left: 0;
    top: 0;
    padding: 65px;
    color: #fff;
}

.login-main-content {
    padding-left: 590px;

    .container-fluid, .row {
        min-height: 100vh;
    }
}

div::-webkit-scrollbar-track {
    display: none;
}

#main-side-bar {
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 10;
    width: 300px;
    margin-left: -300px;
    transition: margin 0.5s ease;

    &.active {
        margin-left: 0px;
    }

    .main-side-bar-content {
        height: 100%;
        position: relative;
        
        .classes-holder {
            height: calc(100% - 264px);
            padding: 30px;
            overflow-y: auto;

            ul {
                padding: 0;
                margin: 0;

                li {
                    padding: 10px;
                    list-style: none;
                    border-radius: 8px 0px 0px 8px;

                    &.active {
                        background: rgba(74, 137, 232, 0.1);
                        border-right: 6px solid #4A89E8;
                    }
                }
            }
        }

        .all-classes-btn {
            height: 60px;
            background: #4A89E8;
        }
    }

    .profile {
        background: #4A89E8;
        padding: 30px;
    }
}

#main-content {
    padding: 30px;
    padding-left: 330px;
    min-height: 100vh;
    position: relative;
    transition: padding 0.5s ease;

    #mainContentSideBarCollapse {
        opacity: 1;
        transition: all 0.5s ease;
        width: 32px;
        transform: rotate(-180deg);

        &.active {
            opacity: 0;
            width: 0px;
        }
    }

    &.active {
        padding-left: 30px;
    }

    &:before {
        content: '';
        background-color: #386CBB;
        height: 550px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }    

    &:after {
        content: '';
        background-image: url('/assets/img/Image_Car.png');
        background-repeat: no-repeat;
        background-position: right;
        height: 550px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }    
}

.greetings {
    margin-top: 60px;
    color: #fff;
}

.header {
    position: fixed;
    width: 100%;
    background-color: #386CBB;
    z-index: 20;

    top: 0;
    right: 0;
    padding: 20px 30px;
    z-index: 100;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    transition: width 0.5s ease;
}

.header-menu {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        display: inline-block;
        padding: 16px;
        margin: 0 10px;
        color: #fff;
        cursor: pointer;
        transition: all 0.5s ease-out;

        &.active {
            background: #FF847B;
            box-shadow: 0px 14px 26px rgba(84, 84, 84, 0.2);
            border-radius: 6px;
        }

        &:not(.active):hover {
            background: #FF847B50;
            box-shadow: 0px 14px 26px rgba(84, 84, 84, 0.2);
            border-radius: 6px;
        }

        &#discussion-trigger {
            background: #4A89E8;
            border-radius: 6px;
        }

        
        .menu-item {
            display: flex;
            justify-content: center;
            align-items: center;

            .label {
                margin-left: 12px;
                font-weight: 600;
            }

            
        }
    }
}

.announcements {
    color: #fff;
    margin-top: 40px;

    ul {
        li {
            padding: 10px;
            border-bottom: 1px solid #fff;

            a {
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                font-weight: 700;
                opacity: 0.5;
                transition: opacity 0.5s ease;
                text-decoration: none;
                
                &.active {
                    opacity: 1;
                }
                
                .label {
                    margin-left: 10px;
                }
            }
        }
    }

    .tab-content {
        margin-top: 10px;
    }
}

.main-components-holder {
    position: relative;
    margin-top: 100px !important;

    .schedule-holder {
        transition: all 0.5s ease;
        position: absolute; 
        left: 0;
        overflow: auto;
        

        .table {
            .w-bg {
                background: #E7ECF3;
            }
        }
    }    
}

.discussion-holder {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(30, 26, 26, 0.5);
    width: 100%;
    height: 100%;
    z-index: 9999;

    .discussion-container {
        position: fixed;
        width: 520px;
        height: 100%;
        right: 0;
        top: 0;
        background: #fff;
        z-index: 9999;

        .conversation-holder {
            overflow-y: auto;
            height: 78vh;
        }

        .converse-content {
            &.active {
                background: rgba(123, 200, 255, 0.1);
            }
        }
    }
}

.p-30px {
    padding: 20px;
}

.card {
    border-radius: 8px;

    .card-body {
        padding: 30px;
    }
}

.modal-content {
    padding: 30px 40px;

    &.alert-modal {
        padding: 32px 25px;
    }

    .modal-body {
        padding: 0px;
    }
}

.display_picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;

    &.small {
        width: 32px;
        height: 32px;
    }
}

.form-group {
    label {
        font-size: 16px;
        font-weight: 600;
    }

    .form-control {
        /* Neutral / Surface */

        background: #F7F8FE;
        /* Neutral / Mid Grey */

        border: 1px solid #CCD1D9;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 25px;
        font-size: 16px;

        &:focus {
            box-shadow: none !important;
        }
    }
}

.table {
    thead {
        th {
            border: none;
            color: #8E93A5;
            font-weight: 600;
            font-size: 14px;
            padding: 20px;
        }
    }

    tbody {
        tr {
            &:hover {
                background: rgba(123, 200, 255, 0.1);
            }

            td {
                font-size: 14px;
                font-weight: 600;
                border-color: #E7ECF3;
                padding: 20px;
            }
        }
    }
}

.sub-menu-item {
    opacity: .5;
    padding: 10px;

    &.active {
        border-bottom: 3px solid #212E5C;
        opacity: 1;
    }
}

.btn {
    padding: 14px 30px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;

    &.btn-danger {
        background-color: #E84A5F;
        color: #fff; 
    }

    &.btn-secondary {
        background-color: #CCD1D9;
        color: #212E5C
    }

    &.btn-primary {
        background-color: #4A89E8;
        color: #fff;
    }
}

.password-input {
    .form-control {
        border-right: none;
    }

    .input-group-text{
        background: #F7F8FE;
        border: 1px solid #CCD1D9;
        border-left: none !important;
    }
}

.dropdown-menu {
    z-index: 90;
}

// helpers 
.font-weight-medium {
    font-weight: 600;
}

.text-opaque {
    opacity: 0.7;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-24 {
    font-size: 24px;
}
.font-size-28 {
    font-size: 28px;
}

.font-size-32 {
    font-size: 32px;
}

h1 {
    font-weight: 700;
    font-size: 32px;
}

.text-navy {
    color: #212E5C;
}

.text-primary {
    color: #4A89E8 !important;
}

.text-navy-blue {
    color: #212E5C;
}

.text-grey {
    color: #8E93A5;
}

.bg-navy-blue {
    background-color: #212E5C;
}

.input-group-text {
    background: #fff;
    border-right: 0px;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-left: 0px;
}

.bg-light-grey {
    background-color: #E7ECF3;
}

.bg-light-blue {
    background-color: #A8EFFE;
}

.no-after {
    &::after {
        display: none !important;
    }
}

.no-before {
    &::before {
        display: none !important;
    }
}

.no-bf {
    &::before, 
    &::after {
        display: none !important;
    }
}

.dropdown-item {
    display: flex;
    justify-content: start;
    align-items: center;

    img {
        margin-right: 11px;
    }
}

.min-table-height {
    min-height: 400px;
}

.pointer {
    cursor: pointer;
}

.form-control {
    &:focus {
        box-shadow: none;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    
 }