<template>
    <div>
        <nav id="main-side-bar">
            <div class="main-side-bar-content">
                <div class="profile">
                    <div class="d-flex justify-content-end">
                        <img class="mainSideBarCollapse" src="/assets/img/icons/arrow_forward.svg" alt="">
                    </div>

                    <div class="d-flex align-items-center">
                        <div class="display_picture" style="background-image: url('https://images.unsplash.com/photo-1549150712-1d243024db80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80');"></div>
                        <div class="ml-2" style="min-width: 59%;">
                            <p class="mb-0 text-white font-size-16 font-weight-medium text-truncate" style="max-width: 59%;">{{ this.$store.state.user.firstname + ' ' + this.$store.state.user.lastname }}</p>
                            <p class="mb-0 text-white text-opaque font-size-14">Student</p>
                        </div>
                        <div class="ml-3 text-white">
                            <img src="/assets/img/icons/Icon_Settings.svg" alt="">
                        </div>
                    </div>

                    <div class="input-group mt-4 mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <img src="/assets/img/icons/Icon_Search.svg" alt="">
                            </span>
                        </div>
                        <input type="text" class="form-control" v-model="searchClassTerm" v-on:keyup="searchClasses" placeholder="Search class..." aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="classes-holder">
                    <div class="text-opaque font-weight-14">Classes</div>
                    <ul>
                        <li class="pointer" v-for="_class of ClassList" :key="_class.id"  :class="{active: _class.sc.id == $route.params.class_id}" >
                            <span v-on:click="$router.push({name:'student.index', params: { class_id: _class.sc.id }})">
                                {{ _class.sc.section.grade_level.name + ': ' + _class.sc.section.name + '[' + _class.sc.subject.name + ']' }}
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="all-classes-btn d-flex justify-content-center align-items-center">
                    <img src="/assets/img/icons/Icon_Desk.svg" height="30" alt="">
                    <div class="ml-3 label font-size-14 font-weight-medium text-white">
                        SEE ALL CLASSES
                    </div>
                </div>
            </div>
        </nav>

        <div class="container-fluid active" id="main-content">
            <div class="header d-flex justify-content-between align-items-center">

                <div class="school-holder d-flex">

                    <div class="d-flex justify-content-end mr-2">
                        <img class="mainSideBarCollapse" id="mainContentSideBarCollapse" src="/assets/img/icons/arrow_forward.svg" alt="">
                    </div>

                    <img width="50" :src="$root.storage_link($store.state.user.school.logo)" alt="">
                    <div class="ml-3">
                        <div class="m-0 font-size-16 text-white font-weight-medium">
                            {{ $store.state.user.school.name }}
                        </div>
                        <div class="m-0 font-size-14 text-opaque text-white">
                            {{ $store.state.user.school.address }}
                        </div>
                    </div>
                </div>

                <div class="menu-holder">
                    <ul class="header-menu">
                        <li :class="{ active: $route.name == 'student.index' }" v-on:click="$router.push({ name: 'student.index', params: {class_id: $route.params.class_id} })">
                            <div class="menu-item">
                                <img src="/assets/img/icons/Icon_Home.png" alt="">
                                <div class="label">Home</div>
                            </div>
                        </li>
                        <li :class="{ active: $route.name == 'student.virtuals',  }" v-on:click="$router.push({ name: 'student.virtuals', params: {class_id: $route.params.class_id} })">
                            <div class="menu-item">
                                <img src="/assets/img/icons/Icon_Virtual Class.png" alt="">
                                <div class="label">Virtual Class</div>
                            </div>
                        </li>
                        <li :class="{ active: $route.name.includes('files') }" v-on:click="$router.push({ name: 'student.files.powerpoint', params: {class_id: $route.params.class_id} })">
                            <div class="menu-item">
                                <img src="/assets/img/icons/Icon_Upload.png" alt="">
                                <div class="label">File Manager</div>
                            </div>
                        </li>
                        <li  data-toggle="modal" data-target="#googleLinkModal">
                            <div class="menu-item">
                                <img src="/assets/img/icons/Icon_Gdrive.png" alt="">
                                <div class="label">Google Links</div>
                            </div>
                        </li>
                        <li id="discussion-trigger" v-on:click="getDiscussions()">
                            <div class="menu-item">
                                <img src="/assets/img/icons/Icon_Chat.png" alt="">
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="container-fluid">
                <router-view></router-view>
            </div>    
        </div>

        <div class="discussion-holder" style="display: none;">
            <div class="discussion-container" style="display: none;">
                <div class="d-flex justify-content-between align-items-center p-30px">
                    <div>
                        <p class="mb-0 text-navy">{{ $store.state.student.current_class.section.grade_level.name }} : {{ $store.state.student.current_class.section.name }} [{{ $store.state.student.current_class.subject.name}}]</p>
                        <h1 class="m-0 text-navy">Discussion Board</h1>
                    </div>

                    <div>
                        <img src="/assets/img/icons/arrow_forward_black.svg" id="discussion-close" alt="" style="transform: rotate(-180deg)">
                    </div>
                </div>

                <div class="conversation-holder">
                    <div class="converse-content p-30px" v-for="d of discussions" :key="d.id" :class="{ active : activePost.id == d.id}" v-on:click="setActivePost(d)">
                        <div class="chat-user d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="display_picture small" :style="'background-color: #000; background-image: url('+ d.user.avatar +');'"></div>
                                <div class="details ml-3">
                                    <p class="m-0 font-size-14 font-weight-medium">{{ d.user.firstname + ' ' + d.user.lastname }}</p>
                                    <p class="m-0 text-muted font-size-14">{{ $root.timeago(d.created_at) }}</p>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center align-items-center">
                                <!-- <i class="fa fa-thumbs-up fa-fw font-size-16 text-muted"></i>
                                <div class="text-primary ml-2">6</div> -->
                                <img src="/assets/img/icons/Icon_Remove.svg" v-if="d.user.id == $store.state.user.id" v-on:click.stop="deleteComment(d.id, 'main')" alt=""> 
                            </div>
                        </div>

                        <div class="converse-content mt-3 font-size-16">
                            <p>{{ d.message }}</p>
                        </div>

                        <div class="converse-content" v-if="d.replies.length >= 1">
                            <p class="font-size-14 m-0 text-primary" v-on:click="toggleReply(d.id)"><span :id="'reply-label-' + d.id">Show</span> {{ d.replies.length == 1 ? 'reply' : 'replies' }} ({{ d.replies.length }})</p>
                        </div>

                        <div class="converse-content mt-3" :id="'reply-' + d.id" style="display: none;">

                            <div class="d-flex justify-content-start" v-for="r of d.replies" :key="r.id">
                                <div style="width: 10px;">
                                    <img src="/assets/img/icons/Thread.png" height="39" width="10" alt="">
                                </div>

                                <div class="pl-3 w-100 mt-3">
                                    <div class="chat-user d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="display_picture small" :style="'background-color: #000; background-image: url('+ r.user.avatar +');'"></div>
                                            <div class="details ml-3">
                                                <p class="m-0 font-size-14 font-weight-medium">{{ r.user.firstname + ' ' + r.user.lastname }}</p>
                                                <p class="m-0 text-muted font-size-14">{{ $root.timeago(r.created_at) }}</p>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-center align-items-center">
                                            <!-- <i class="fa fa-thumbs-up fa-fw font-size-16 text-muted"></i>
                                            <div class="text-primary ml-2">6</div> -->
                                            <img src="/assets/img/icons/Icon_Remove.svg" v-if="r.user.id == $store.state.user.id" v-on:click.stop="deleteComment(r.id, 'reply')" alt=""> 
                                        </div>
                                    </div>

                                    <div class="converse-content mt-3 font-size-16">
                                        <p>{{ r.message }}</p>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>

                    <div class="text-center mb-5" v-if="discussions_page != discussions_last">
                        <button class="btn btn-primary btn-sm" v-on:click="getDiscussions('add')">Load more</button>
                    </div>
                </div>

                <div class="conversation-input p-30px position-absolute w-100" style="background-color: #E7ECF3; bottom: 0;">
                    <div class="form-group m-0">
                        <input type="text" class="form-control" v-model="discussionMessage" v-on:keyup="keyupDiscussionMessage" :placeholder="discussionMessagePlaceholder">
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="googleLinkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <div class="d-flex justify-content-start align-item-center">
                            <div>
                                <img src="/assets/img/icons/Icon_Gdrive_big.png" width="50" alt="">
                            </div>

                            <div class="ml-3">
                                <h5 class="font-size-18 font-weight-bold mb-0">Google Drive</h5>
                                <p class="text-opaque text-muted mt-0 font-size-14">Google Drive Link</p>
                            </div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="/assets/img/icons/Icon_Close.svg" alt="">
                        </button>
                    </div>
                    <div class="modal-body px-5">
                        <div class="form-group row d-flex justify-content-center align-items-center">
                            <a :href="google_link" target="_blank">{{ google_link }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>


<script>
export default {

    data() {
        return {
            google_link : this.$store.state.student.current_class.google_link != null ? this.$store.state.student.current_class.google_link.link : '',
            discussions: [],
            discussions_page: 1,
            discussions_total: 0,
            discussions_last: 0,
            discussionMessage: '',
            discussionMessagePlaceholder: 'Enter message here...',

            activePost: {
                id: 0
            },

            setToDeleteCommentId: null,
            setToDeleteCommentType: null,

            searchClassTerm : '',
            ClassList: this.$store.state.student.details.student.classes,
        }
    },

    mounted() {
        jQuery(function($) {
            $(".mainSideBarCollapse").click(function() {
                $('#main-side-bar').toggleClass('active');
                $('#main-content').toggleClass('active');
                $("#mainContentSideBarCollapse").toggleClass("active");
                if(jQuery('.header').css('left') == '0px') {
                    console.log(0)
                    jQuery(".header").css('width', "calc(100% - 300px)");
                } else {  
                    console.log(100)
                    jQuery(".header").css('width', "100%");
                }
            });

            $('#discussion-trigger').click(function() {
                $('.discussion-holder').fadeIn('fast');
                $('.discussion-container').delay(300).show("slide", { direction: "right" }, 300);
                $('body').addClass('overflow-none');
            });

            $('#discussion-close').click(function() {
                $('.discussion-container').hide("slide", { direction: "right" }, 300);
                $('.discussion-holder').delay(300).fadeOut('fast');
                $('body').delay(300).removeClass('overflow-none');
            });

            $('.discussion-holder').click(function() {
                $('#discussion-close').click();
            })

            $('.discussion-container').click(function(e) {
                e.preventDefault();
                e.stopPropagation();
            })
        })
    },

    created() {
        // alert("what!")
    },

    watch: {
        $route(to, from) {
            this.activePost = {
                id: 0
            };
            this.$store.dispatch('getCurrentClassDetails', {
                class_id: to.params.class_id
            }).then(response => {
                console.log(to.params.class_id);
                this.$store.commit('setStudentCurrentClassDetails', response.data.data);
                this.google_link = response.data.data.google_link != null ? response.data.data.google_link.link : '';
            })
        }
    },

    methods: {
        searchClasses(e) {
            if(this.searchClassTerm == '') {
                this.ClassList = this.$store.state.student.details.student.classes;
            } else {
                this.ClassList = this.$store.state.student.details.student.classes.filter((v, i) => {
                    var n = v.sc.section.grade_level.name + ': ' + v.sc.section.name + '[' + v.sc.subject.name + ']';
                    n = n.toLowerCase();

                    return n.includes(this.searchClassTerm.toLowerCase())
                })
            }
        },

        keyupDiscussionMessage(e) {
            
            if(e.keyCode == 13) {
                 this.$store.dispatch('storeDiscussionsClass', {
                    class_id: this.$route.params.class_id,
                    message: this.discussionMessage,
                    discussion_id: this.activePost.id != 0 ? this.activePost.id : null
                }).then(response => {
                    this.getDiscussions()
                    this.discussionMessage = '';

                    if(this.activePost != null) {
                        this.toggleReply(this.activePost.id)
                    }
                });
            }
        },

        setActivePost(d) {
            if(d !== null) {
                if(this.activePost != null && this.activePost.id != d.id) {
                    this.activePost = d;
                    this.discussionMessagePlaceholder = 'Reply to ' + d.user.firstname;
                } else {
                    this.activePost = {
                        id: 0
                    }

                    this.discussionMessagePlaceholder = 'Enter message here...';
                }
            }

            
        },

        toggleReply(id) {
            var text = jQuery('#reply-label-' + id).text();

            this.$nextTick(() => {
                jQuery('#reply-' + id).slideToggle("fast");
                jQuery('#reply-label-' + id).text(text == 'Show' ? 'Hide' : 'Show')
            })
        },
        
        getDiscussions(type = 'new') {

            if(type != 'new') {
                if(this.discussions_last != this.discussions_page) {
                    this.discussions_page = this.discussions_page+1;
                }

                console.log(this.discussions_page , this.discussions_last);
            } else {
                this.discussions_page = 1;
            }

            this.$store.dispatch('getDiscussionsClass', {
                class_id: this.$route.params.class_id,
                page: this.discussions_page
            }).then(response => {
                if(type == 'new') {
                    this.discussions = response.data.data.data;
                } else {
                    this.discussions = [...this.discussions, ...response.data.data.data]
                }
                
                this.discussions_last = response.data.data.last_page;

                this.discussions_total = response.data.data.total;
                console.log(this.discussions, ' - -dis');
            });
        },

        saveGoogleLink() {
            this.$store.dispatch('storeGoogleLinkClass', {
                class_id: this.$route.params.class_id,
                link: this.google_link
            }).then(response => {
                this.$store.teacher.current_class.google_link = response.data.data.link
            });
        },
        
        discussionUser(d) {
            return d.user.role == 2 ? d.user.teacher : d.user.student;
        },

        setToDeleteComment(setToDeleteComment, type) {
            this.setToDeleteCommentId = setToDeleteComment;
            this.setToDeleteCommentType   = type
        },

        deleteComment() {

        }
    }
}
</script>