<template>
    <div class="card mt-4 mb-5 bg-navy-blue text-white">
        <div class="card-body">
            <div class="text-uppercase font-size-16 font-weight-bold">Quote of the Day</div>
            <div class="py-4">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit optio ipsa impedit officia quae aliquam distinctio, voluptatum tenetur aperiam dignissimos esse facere quos vero quasi magnam possimus. Delectus, neque unde.
            </div>
        </div>
    </div>
</template>

<script>
export default {
}
</script>