<template>
    <div class="pb-5">
        <div class="row mt-5">
            <div class="col-xl-8">
                <div class="greetings">
                    <h1 class="mb-0">Hi {{ this.$store.state.user.firstname }}.</h1>
                    <p class="text-opaque">We have few things for you to look at.</p>
                </div>

                <div class="announcements">
                    <ul class="nav nav-pills">
                        <li>
                            <a data-toggle="pill" href="#home" class="active">
                                <img src="/assets/img/icons/Icon_Announcement.svg" alt="">
                                <div class="label">
                                    Announcement
                                </div>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="pill" href="#menu1">
                                <img src="/assets/img/icons/Icon_Student2.svg" alt="">
                                <div class="label">
                                    Student  Manual
                                </div>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="pill" href="#menu2">
                                <img src="/assets/img/icons/Icon_Parents.svg" alt="">
                                <div class="label">
                                    Parent Manual
                                </div>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade show active">
                            <p>No announcement posted yet.</p>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <p>Hi all, this is a reminder that all Module 8 assignments are due this Saturday by midnight. This includes quizzes, assignments and discussion board topics under Nutrition, Health, and Fitness. There has be... </p>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <p>Hi all, this is a reminder that all Module 8 assignments are due this Saturday by midnight. This includes quizzes, assignments and discussion board topics under Nutrition, Health, and Fitness. There has be... </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5 d-flex justify-content-between main-components-holder">
            <div class="col-xl-12 col-md-12 schedule-holder">

                <div class="card">
                    <div class="card-body pb-0 mb-0" style="padding: 20px;">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="font-size-14 m-0 font-weight-bold text-navy-blue">Virtual Class (Today, {{ current_week[5] }})</p>
                            <a href="#" v-on:click="$router.push({name:'student.virtuals', params: {class_id: $route.params.class_id}})">Go to Virtual Class</a>
                        </div>
                    </div>

                    <div class="card-body" style="border-bottom: 1px solid #E7ECF3; padding: 20px;" v-for="m of current_meetings" :key="m.id">
                        <div class="row justify-content-start align-items-center">
                            <div class="col-md-4">
                                <p class="font-size-24 text-navy-blue m-0 font-weight-bold">{{ m.name }}</p>
                                <a :href="m.link" target="_blank" class="font-size-14 text-blue m-0">{{ m.link }}</a>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex justify-content-around align-items-center">
                                    <p class="m-0 font-size-14">
                                        <span class="text-grey">Platform: </span><span class="text-navy-blue">{{ m.platform }}</span>
                                    </p>
                                    <p class="m-0 font-size-14">
                                        <span class="text-grey">Password: </span><span class="text-navy-blue">{{ m.password }}</span>
                                    </p>
                                    <p class="m-0 font-size-14">
                                        <span class="text-grey">Time: </span><span class="text-navy-blue">{{ m.time }}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2 text-center">
                                <a :href="m.link" target="_blank"><button class="btn btn-primary">Join Link</button></a>
                            </div>
                        </div>
                    </div>


                    <div class="card-body text-center" style="padding: 20px;" v-if="current_meetings.length <= 0">
                        <img src="/assets/img/Empty.svg" alt="">
                        <p class="text-grey font-size-16 text-center mt-4">No Virtual Class Schedule for Today.</p>
                    </div>

                    
                </div>

                <div class="card mt-4">
                    <div class="px-5 py-4 d-flex justify-content-between align-items-center">
                        <div>
                           
                            <p class="mb-0 text-navy">{{ $store.state.teacher.current_class.section.grade_level.name }} : {{ $store.state.teacher.current_class.section.name }} [{{ $store.state.teacher.current_class.subject.name}}]</p>
                            <h1 class="m-0 text-navy">
                                {{ current_week[1] + ' ' + current_week[0] + ' - ' + (( current_week[1] != current_week[3]) ? current_week[3] + ' ' : '') + '' + current_week[2]}}, {{current_week[4] }}
                            </h1> <p class="m-0 text-opaque">Last Updated : {{ $root.format_date(schedule_data_updated, 'dddd, MMMM Do YYYY, h:mm:ss a') }}</p>
                        </div>
                        <div>
                            <div class="d-flex justify-content-end align-items-center mt-3 text-navy-blue pointer"  data-toggle="modal" data-target="#legendsModal">
                                <img src="/assets/img/icons/Icon_Info.svg" alt="">
                                <div class="ml-2">
                                    Legends
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0 m-0 table-responsive">
                        <table class="table table-bordered text-navy text-center mb-0">
                         <tr>
                            <th class="w-bg" style="width: 15%;">Time</th>
                            <th class="w-bg" v-for="day of day_selection" :key="day">{{ day }}</th>
                        </tr>
                        <tr v-for="(slot, j) of slot_selection " :key="j">
                            <th class="w-bg">{{ slot }}</th>
                            <td 
                                v-for="i of Array(day_selection.length).keys()" 
                                :key="i" :style="(schedule_data[i] !== undefined && schedule_data[i][j] !== undefined) ? 'background-color:' + schedule_data[i][j].color : ''" 
                                data-toggle="tooltip" 
                                :data-original-title="(schedule_data[i] !== undefined && schedule_data[i][j] !== undefined) ? schedule_data[i][j].name : ''"
                                class="position-relative p-0" 
                            >
                                <div class="position-absolute w-100 text-center" style="top:50%; transform: translateY(-50%);">{{ (schedule_data[i] !== undefined && schedule_data[i][j] !== undefined) ? schedule_data[i][j].short : '' }}</div>
                            </td>
                        </tr>
                        
                    </table>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <div class="d-flex justify-content-start align-items-center">
                                <img class="mr-3" src="/assets/img/icons/Icon_Announcement.png" alt="">
                                <p class="font-size-16 font-weight-bold m-0">Student Announcement</p>
                            </div>
                        </div>
                        <div class="py-4">
                            <div v-if="toggle.student_announcement_action == 'edit'" v-html="student_announcement"></div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4 mb-5 bg-navy-blue text-white">
                    <div class="card-body">
                        <div class="text-uppercase font-size-16 font-weight-bold">Quote of the Day</div>
                        <div class="py-4">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit optio ipsa impedit officia quae aliquam distinctio, voluptatum tenetur aperiam dignissimos esse facere quos vero quasi magnam possimus. Delectus, neque unde.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="legendsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <div>
                            <h5 class="font-size-18 font-weight-bold mb-0">Mode of Learning</h5>
                            <p class="text-opaque text-muted mt-0 font-size-14">{{ mol_labels.length }} Total</p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="/assets/img/icons/Icon_Close.svg" alt="">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3 d-flex justify-content-start align-items-center" v-for="mol of mol_labels" :key="mol.short">
                            <div class="rounded-circle" style="height: 10px; width: 10px; margin-right: 15px;" :style="'background-color:' + mol.color"></div> 
                            <div class="font-size-14">{{ mol.short + ' - ' + mol.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    data() {
        return {
            toggle: {
                student_announcement_action: 'edit'
            },

            scheduleAction: 'store',
            hasConflict: false,

            activeSchedule: null,

            student_meetings: this.$store.state.student.current_class.meeting !== null ? this.$store.state.student.current_class.meeting : [],

            student_announcement: this.$store.state.student.current_class.announcement !== null ? this.$store.state.student.current_class.announcement.content : '',

            schedule_data_updated: this.$store.state.student.current_class.schedule !== null ? this.$store.state.student.current_class.schedule.updated_at : '',
            schedule_data: this.$store.state.student.current_class.schedule !== null ? JSON.parse(this.$store.state.student.current_class.schedule.schedule) : {},
            day_selection: [
                'Monday',
                'Tuesday',
                'Wednesday',
                'Thursday',
                'Friday',
                'Saturday',
                'Sunday'
            ],
            
            slot_selection: [
                '7:00 - 8:00 AM',
                '8:00 - 9:00 AM',
                '9:00 - 10:00 AM',
                '10:00 - 11:00 AM',
                '11:00 - 12:00 PM',
                '1:00 - 2:00 PM',
                '2:00 - 3:00 PM',
                '3:00 - 4:00 PM',
                '4:00 - 5:00 PM',
                '5:00 - 6:00 PM',
                '7:00 - 7:00 PM',
                '8:00 - 9:00 PM',
            ],
            mol_labels: [
                {
                    short: "VSL",
                    color: "#F388E8",
                    name: "Virtual Synchronous Learning"
                },{
                    short: "DLS",
                    color: "#C37DFA",
                    name: "DLP/Asynchronous Learning"
                },{
                    short: "OCN",
                    color: "#7DE3FA",
                    name: "Online Counseling"
                },{
                    short: "OM",
                    color: "#7DFAAF",
                    name: "Online Mass"
                },{
                    short: "OCT",
                    color: "#FA7D93",
                    name: "Online Cathecesis"
                },{
                    short: "MEX",
                    color: "#F7FA7D",
                    name: "Monthly Exam"
                },{
                    short: "QEX",
                    color: "#FAC87D",
                    name: "Quarterly Exam"
                },{
                    short: "M/DT",
                    color: "#61ADF3",
                    name: "Medical / Dental Talk"
                },{
                    short: "CA",
                    color: "#F388E8",
                    name: "Culminating Activity"
                },{
                    short: "ABL",
                    color: "#7DE3FA",
                    name: "Activity Based Learning"
                }
            ]
        }
    },

    created() {
        // alert("what 2")
        var now = moment();
        var mDate = now.clone().weekday(1).format('DD');
        var mMonth = now.clone().weekday(1).format('MMMM');
        var sDate = now.clone().weekday(7).format('DD');
        var sMonth = now.clone().weekday(7).format('MMMM');
        var year = now.clone().weekday(7).format('YYYY');
        var today = now.format('MMMM DD, YYYY');
        this.current_week = [mDate, mMonth, sDate, sMonth, year, today]
    },

    computed: {
        checkParamClassId() {
            return this.$store.state.student.current_class.id;
        },

        current_meetings() {
            let meetings = this.student_meetings.filter((v, i) => {
                console.log(v.date, moment().format('YYYY-MM-DD'))
                return v.date == moment().format('YYYY-MM-DD')
            });

            return meetings;
        }
    },

    watch: {
        checkParamClassId(to, from ) {
            this.student_announcement = this.$store.state.student.current_class.announcement !== null ? this.$store.state.student.current_class.announcement.content : '';
            this.schedule_data = this.$store.state.student.current_class.schedule !== null ? JSON.parse(this.$store.state.student.current_class.schedule.schedule) : {};
            this.schedule_data_updated = this.$store.state.student.current_class.schedule !== null ? this.$store.state.student.current_class.schedule.updated_at : '';
            this.student_meetings = this.$store.state.student.current_class.meeting !== null ? this.$store.state.student.current_class.meeting : [];
        } 
    },

    mounted() {
    
    },

    methods: {
        cancelScheduleForm() {
            this.schedule_form_data = {
                day: '',
                slot: '',
                day_key: '',
                slot_key: '',
                mol: {
                    name: '',
                    color: '',
                    short: '',
                }
            };

            this.scheduleAction = 'store';
            jQuery('[data-dismiss="modal"]').click();
        },

        setScheduleDataMol(mol) {
            this.schedule_form_data.mol = mol;
        },

        setScheduleDataDay(day, key) {
            this.schedule_form_data.day = day;
            this.schedule_form_data.day_key = key;

             if((this.schedule_data[this.schedule_form_data.day_key] !== undefined && this.schedule_data[this.schedule_form_data.day_key][this.schedule_form_data.slot_key] !== undefined)) {
                this.hasConflict = true;
            } else {
                this.hasConflict = false;
            }
        },

        setScheduleDataSlot(slot, key) {
            this.schedule_form_data.slot = slot;
            this.schedule_form_data.slot_key = key;

            if((this.schedule_data[this.schedule_form_data.day_key] !== undefined && this.schedule_data[this.schedule_form_data.day_key][this.schedule_form_data.slot_key] !== undefined)) {
                this.hasConflict = true;
            } else {
                this.hasConflict = false;
            }
        },
        setDeleteDataSchedule(day, slot) {
            this.activeSchedule = [day, slot];
        },

        deleteSchedule() {
            delete this.schedule_data[this.activeSchedule[0]][this.activeSchedule[1]];
            this.storeSchedule('store');
        },

        storeSchedule(type = 'store') {

            if(type == 'check'
            && this.hasConflict) {
                jQuery('#scheduleConflictModal').modal('show')
                jQuery('#scheduleModal').modal('hide')
            }

            if(type == 'store') {
                if(this.schedule_form_data.day_key != '') {
                    if(this.schedule_data[this.schedule_form_data.day_key] == undefined) {
                        this.schedule_data[this.schedule_form_data.day_key] = {};
                    }

                    this.schedule_data[this.schedule_form_data.day_key][this.schedule_form_data.slot_key] = {
                        name: this.schedule_form_data.mol.name,
                        color: this.schedule_form_data.mol.color,
                        short: this.schedule_form_data.mol.short
                    };
                }

                this.$store.dispatch('storeScheduleClass', {
                    class_id: this.$route.params.class_id,
                    schedule: JSON.stringify(this.schedule_data)
                }).then(response => {
                    this.cancelScheduleForm();

                    this.$store.commit('setCurrentClassDetails', {
                        ...this.$store.state.student.current_class,
                        schedule: response.data.data
                    });

                    this.schedule_data = JSON.parse(response.data.data.schedule);
                    this.$nextTick(function() {
                        jQuery('[data-toggle="tooltip"]').tooltip()
                    })

                    this.scheduleAction = 'store';
                })
            }
        },

        updateSchedule() {

        },

        showStudentAnnouncementForm() {
            this.toggle.student_announcement_action = 'save';

            this.$nextTick(function() {
                jQuery('.text-editor').trumbowyg({
                    btns: [['strong', 'em', 'del'], ['unorderedList', 'orderedList']],
                    autogrow: false
                });
            })
        },
        cancelStudentAnnouncement() {
            this.toggle.student_announcement_action = 'edit';

            this.$nextTick(function() {
                jQuery('.text-editor').trumbowyg('destroy')
            })
        },

        saveStudentAnnouncement() {

            this.$store.dispatch('storeAnnouncement', {
                class_id: this.$route.params.class_id,
                content: jQuery('.text-editor').trumbowyg('html'),
                type: 1
            }).then(response => {
                this.student_announcement = response.data.data.content;
                this.$store.commit('setCurrentClassDetails', {
                    ...this.$store.state.student.current_class,
                    announcement: response.data.data
                });
                
                jQuery('.text-editor').trumbowyg('destroy')

                this.toggle.student_announcement_action = 'edit';
            })
        }
    }
}
</script>