<template>
    <div>
        <div class="row mt-5 d-flex justify-content-between main-components-holder">
            <div class="col-xl-12 col-md-12 mt-5 mb-3">
                <h1 class="text-white">Virtual Class</h1>
            </div>
            <div class="col-xl-12 col-md-12">

                <div class="card">
                    <div class="card-body pb-0 mb-0 d-flex justify-content-between align-items-center">
                        <div>
                            <h1 class="m-0 text-navy">{{ $store.state.student.current_class.section.grade_level.name }} : {{ $store.state.student.current_class.section.name }} [{{ $store.state.student.current_class.subject.name}}]</h1>
                        </div>

                        <div class="d-flex justify-content-start">
                            <div class="card bg-light-blue text-navy-blue">
                                <div class="card-body px-5 text-center">
                                    <p class="m-0 font-size-14">Count</p>
                                    <p class="m-0"><span class="font-size-28">{{ meetings.length }}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0 m-0 min-table-height">
                        <div class="text-center" v-if="isLoading">
                            <p class="font-size-22 text-navy-blue">Loading Content...</p>
                        </div>
                       <table class="table" v-if="!isLoading">
                           <thead>
                               <th>Title</th>
                               <th>Platform</th>
                               <th>Link</th>
                               <th>Password</th>
                               <th>Schedule</th>
                               <th>Updated at</th>
                           </thead>
                           <tbody v-if="meetings.length >= 1">
                               <tr v-for="meeting of meetings" :key="meeting.id">
                                   <td>{{ meeting.name }}</td>
                                   <td>{{ meeting.platform }}</td>
                                   <td><a :href="meeting.link" target="_blank">{{ meeting.link }}</a></td>
                                   <td>{{ meeting.password }}</td>
                                   <td>{{ meeting.date + ' ' + meeting.time }}</td>
                                   <td>{{  $root.format_date(meeting.updated_at, 'dddd, MMMM Do YYYY, h:mm:ss a') }}</td>
                                  
                               </tr>
                           </tbody>

                           <tbody v-if="meetings.length <= 0">
                               <tr>
                                    <td colspan="6" class="text-center">
                                        <img src="/assets/img/Empty.svg" alt="">
                                        <p class="font-size-14 text-grey m-0 mt-4">No Virtual Class added yet.</p>
                                    </td>
                               </tr>
                           </tbody>
                       </table>
                    </div>
                </div>

                <quote></quote>
             
            </div>
        </div>

    </div>
</template>

<script>
import Quote from '../../components/Quote'

export default {
    components: {Quote},
    data() {
        return {
            meetings: [],
            isLoading: false,
        }
    },

    created() {
        this.getMeetingList();
    },

    methods: {
        getMeetingList() {
            this.isLoading = true;
            this.$store.dispatch('getVirtualClasses', {
                class_id: this.$route.params.class_id
            }).then(response => {
                this.isLoading = false;
                this.meetings = response.data.data;
            })
        },
    }
}
</script>