<template>
    <div class="pb-5">
        <div class="row mt-5">
            <div class="col-xl-8">
                <div class="greetings">
                    <h1 class="mb-0">Hi {{ this.$store.state.user.firstname }}.</h1>
                    <p class="text-opaque">We have few things for you to look at.</p>
                </div>

                <div class="announcements">
                    <ul class="nav nav-pills">
                        <li>
                            <a data-toggle="pill" href="#home" class="active">
                                <img src="/assets/img/icons/Icon_Announcement.svg" alt="">
                                <div class="label">
                                    Announcement
                                </div>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="pill" href="#menu1">
                                <img src="/assets/img/icons/Icon_Teacher.svg" alt="">
                                <div class="label">
                                    Manual
                                </div>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade show active">
                            <p>No announcement posted yet.</p>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <p>Hi all, this is a reminder that all Module 8 assignments are due this Saturday by midnight. This includes quizzes, assignments and discussion board topics under Nutrition, Health, and Fitness. There has be... </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5 d-flex justify-content-between">
            <div class="col-xl-12 col-md-12 schedule-holder">
                <div class="card">
                    <div class="px-5 py-4 d-flex justify-content-between align-items-center">
                        <div>
                            <p class="mb-0 text-navy">{{ $store.state.teacher.current_class.section.grade_level.name }} : {{ $store.state.teacher.current_class.section.name }} [{{ $store.state.teacher.current_class.subject.name}}]</p>
                            <h1 class="m-0 text-navy">
                                {{ current_week[1] + ' ' + current_week[0] + ' - ' + (( current_week[1] != current_week[3]) ? current_week[3] + ' ' : '') + '' + current_week[2]}}, {{current_week[4] }}
                            </h1>
                            <p class="m-0 text-opaque">Last Updated : {{ $root.format_date(schedule_data_updated, 'dddd, MMMM Do YYYY, h:mm:ss a') }}</p>
                        </div>
                        <div>
                            <a href="#" class="d-flex justify-content-end align-items-center" data-toggle="modal" data-target="#scheduleModal">
                                <img src="/assets/img/icons/Icon_Add.png" alt="">
                                <div class="ml-2">
                                    Add Mode of Learning
                                </div>
                            </a>
                            <div class="d-flex justify-content-end align-items-center mt-3 text-navy-blue pointer"  data-toggle="modal" data-target="#legendsModal">
                                <img src="/assets/img/icons/Icon_Info.svg" alt="">
                                <div class="ml-2">
                                    Legends
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0 m-0 table-responsive">
                        <table class="table table-bordered text-navy text-center mb-0">
                        <tr>
                            <th class="w-bg" style="width: 15%;">Time</th>
                            <th class="w-bg" v-for="day of day_selection" :key="day">{{ day }}</th>
                        </tr>
                        <tr v-for="(slot, j) of slot_selection " :key="j">
                            <th class="w-bg">{{ slot }}</th>
                            <td 
                                v-for="i of Array(day_selection.length).keys()" 
                                :key="i" :style="(schedule_data[i] !== undefined && schedule_data[i][j] !== undefined) ? 'background-color:' + schedule_data[i][j].color : ''" 
                                data-toggle="tooltip" 
                                :data-original-title="(schedule_data[i] !== undefined && schedule_data[i][j] !== undefined) ? schedule_data[i][j].name : ''"
                                class="position-relative p-0" 
                            >
                                <div class="position-absolute w-100 text-center" style="top:50%; transform: translateY(-50%);">{{ (schedule_data[i] !== undefined && schedule_data[i][j] !== undefined) ? schedule_data[i][j].short : '' }}</div>
                                <!-- <i class="fa fa-fw fa-ellipsis-v position-absolute" style="right: 0; top:50%; transform: translateY(-50%);"></i> -->
                                
                                <div class="dropdown p-0 m-0 position-absolute w-100" style="right: 0; top:50%; transform: translateY(-50%);" v-if="(schedule_data[i] !== undefined && schedule_data[i][j] !== undefined)">
                                    <div class="dropdown-toggle no-after text-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="/assets/img/icons/Icon_Option.svg" alt="">
                                    </div>
                                    <div class="dropdown-menu w-100 position-absolute" style="left: 0;" aria-labelledby="dropdownMenuButton">
                                        <div class="dropdown-item py-2" v-on:click="setDeleteDataSchedule(i, j)"  data-toggle="modal" data-target="#scheduleDeleteModal">
                                            <img src="/assets/img/icons/Icon_Remove.svg" alt=""> 
                                            <div>
                                                Delete
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        
                    </table>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <div class="d-flex justify-content-start align-items-center">
                                <img class="mr-3" src="/assets/img/icons/Icon_Announcement.png" alt="">
                                <p class="font-size-16 font-weight-bold m-0">Student Announcement</p>
                            </div>

                            <div class="d-flex justify-content-start font-weight-bold">
                                <div class="text-primary d-flex justify-content-start align-items-center pointer" v-on:click="showStudentAnnouncementForm()" v-if="toggle.student_announcement_action == 'edit'"><img src="/assets/img/icons/Icon_Edit_blue.svg" class="mr-2" alt=""> <div>Edit</div></div>
                                <div class="text-primary d-flex justify-content-start align-items-center pointer" v-on:click="saveStudentAnnouncement()" v-if="toggle.student_announcement_action == 'save'"><img src="/assets/img/icons/Icon_Save.svg" class="mr-2"> <div>Save Changes</div></div>
                                <div class="ml-2 text-secondary pointer" v-on:click="cancelStudentAnnouncement()" v-if="toggle.student_announcement_action == 'save'">Cancel</div>
                            </div>
                        </div>


                        <div class="py-4">
                            <div v-if="toggle.student_announcement_action == 'save'">
                                <textarea class="text-editor" style="height: 100px;" v-model="student_announcement"></textarea>
                            </div>
                            <div v-if="toggle.student_announcement_action == 'edit'" v-html="student_announcement"></div>
                        </div>
                    </div>
                </div>

                <quote></quote>
            </div>
        </div>


        <div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <div>
                            <h5 class="font-size-18 font-weight-bold mb-0">Schedule</h5>
                            <p class="text-opaque text-muted mt-0 font-size-14">{{  !hasConflict ? 'Add a new ' : 'Update ' }}Schedule</p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="/assets/img/icons/Icon_Close.svg" alt="">
                        </button>
                    </div>
                    <div class="modal-body px-5">
                        <div class="form-group row d-flex justify-content-center align-items-center">
                            <label class="col-md-3 text-opaque text-right" for="">Day</label>
                            <div class="dropdown col-md-9 p-0">
                                <div class="dropdown-toggle no-after" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="form-control" style="height: auto; padding: 14px;">
                                        <span v-if="schedule_form_data.day != ''">
                                            {{ schedule_form_data.day }}
                                        </span>
                                        <span v-if="schedule_form_data.day == ''">
                                            - Select Day -
                                        </span>
                                    </div>
                                </div>
                                <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                    <div class="dropdown-item py-2" v-for="(day, k) of day_selection" :key="k" v-on:click="setScheduleDataDay(day, k)">
                                        {{ day }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center align-items-center">
                            <label class="col-md-3 text-opaque text-right" for="">Slot</label>
                            <div class="dropdown col-md-9 p-0">
                                <div class="dropdown-toggle no-after" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="form-control" :class="{'border-danger' : hasConflict}" style="height: auto; padding: 14px;">
                                        <span v-if="schedule_form_data.slot != ''">
                                            {{ schedule_form_data.slot }}
                                        </span>
                                        <span v-if="schedule_form_data.slot == ''">
                                            - Select Schedule Time Slot -
                                        </span>
                                    </div>
                                </div>
                                <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                    <div class="dropdown-item py-2" v-for="(slot, k) of slot_selection" :key="k" v-on:click="setScheduleDataSlot(slot, k)">
                                        {{ slot }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-9 offset-md-3 p-0" v-if="hasConflict">
                                <span class="text-danger font-size-14">Warning: The selected time already have a schedule</span>
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center align-items-center">
                            <label class="col-md-3 text-opaque text-right" for="">Mode of Learning</label>
                            <div class="dropdown col-md-9 p-0">
                                <div class="dropdown-toggle no-after" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="form-control" style="height: auto; padding: 14px;">
                                        <span v-if="schedule_form_data.mol.name != ''">
                                            <div class="d-flex justify-content-start align-items-center" style="word-break: break-word;">
                                                <div class="rounded-circle" style="height: 10px; width: 10px; margin-right: 15px;" :style="'background-color:' + schedule_form_data.mol.color"></div> 
                                                <div class="font-size-14 text-truncate" style="max-width: calc(100% - 25px;);">{{ schedule_form_data.mol.short + ' - ' + schedule_form_data.mol.name}}</div>
                                            </div>
                                        </span>
                                        <span v-if="schedule_form_data.mol.name == ''">
                                            - Select Mode of Learning -
                                        </span>
                                    </div>
                                </div>
                                <div class="dropdown-menu" style="width: calc(100% + 30px)" aria-labelledby="dropdownMenuButton">
                                    <div class="dropdown-item py-2 " v-for="mol of mol_labels" :key="mol.short" v-on:click="setScheduleDataMol(mol)">
                                        <div class="d-flex justify-content-start align-items-center" style="word-break: break-word;">
                                            <div class="rounded-circle" style="height: 10px; width: 10px; margin-right: 15px;" :style="'background-color:' + mol.color"></div> 
                                            <div class="font-size-14">{{ mol.short + ' - ' + mol.name}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="cancelScheduleForm()">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="storeSchedule('check')">{{ hasConflict ? 'Update' : 'Add' }} Schedule</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="legendsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <div>
                            <h5 class="font-size-18 font-weight-bold mb-0">Mode of Learning</h5>
                            <p class="text-opaque text-muted mt-0 font-size-14">{{ mol_labels.length }} Total</p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="/assets/img/icons/Icon_Close.svg" alt="">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3 d-flex justify-content-start align-items-center" v-for="mol of mol_labels" :key="mol.short">
                            <div class="rounded-circle" style="height: 10px; width: 10px; margin-right: 15px;" :style="'background-color:' + mol.color"></div> 
                            <div class="font-size-14">{{ mol.short + ' - ' + mol.name}}</div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

        <div class="modal fade" id="scheduleConflictModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert-modal">
                    <div class="modal-header border-0">
                        <div>
                            <h5 class="font-size-18 font-weight-bold mb-0">Warning!</h5>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="/assets/img/icons/Icon_Close.svg" alt="">
                        </button>
                    </div>
                    <div class="modal-body">
                       By clicking Continue, you are will be replacing the 
                       <span class="font-weight-bold">{{ (schedule_data[schedule_form_data.day_key] !== undefined && schedule_data[schedule_form_data.day_key][schedule_form_data.slot_key] !== undefined)? schedule_data[schedule_form_data.day_key][schedule_form_data.slot_key].name : '-' }} {{ schedule_form_data.slot }}</span>, 
                       to <span class="font-weight-bold">{{ schedule_form_data.mol.name }} {{ schedule_form_data.slot }}</span>.
                    </div>

                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-secondary"  v-on:click="storeSchedule('store')">Continue</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="scheduleDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <div>
                            <h5 class="font-size-18 font-weight-bold mb-0">Confirmation</h5>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="/assets/img/icons/Icon_Close.svg" alt="">
                        </button>
                    </div>
                    <div class="modal-body px-5">
                       Are you sure you want to delete the selected schedule?
                    </div>

                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-secondary"  v-on:click="deleteSchedule()">Continue</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
import Quote from '../../components/Quote'

export default {
    components: {Quote},
    data() {
        return {
            toggle: {
                student_announcement_action: 'edit'
            },

            scheduleAction: 'store',
            hasConflict: false,

            activeSchedule: null,

            student_announcement: this.$store.state.teacher.current_class.announcement !== null ? this.$store.state.teacher.current_class.announcement.content : '',
            schedule_form_data: {
                day: '',
                slot: '',
                day_key: '',
                slot_key: '',
                mol: {
                    short: "",
                    color: "",
                    name: ""
                }
            },

            current_week: [],

            schedule_data_updated: this.$store.state.teacher.current_class.schedule !== null ? this.$store.state.teacher.current_class.schedule.updated_at : '',
            schedule_data: this.$store.state.teacher.current_class.schedule !== null ? JSON.parse(this.$store.state.teacher.current_class.schedule.schedule) : {},
            day_selection: [
                'Monday',
                'Tuesday',
                'Wednesday',
                'Thursday',
                'Friday',
                'Saturday',
                'Sunday',
            ],
            
            slot_selection: [
                '7:00 - 8:00 AM',
                '8:00 - 9:00 AM',
                '9:00 - 10:00 AM',
                '10:00 - 11:00 AM',
                '11:00 - 12:00 PM',
                '1:00 - 2:00 PM',
                '2:00 - 3:00 PM',
                '3:00 - 4:00 PM',
                '4:00 - 5:00 PM',
                '5:00 - 6:00 PM',
                '7:00 - 7:00 PM',
                '8:00 - 9:00 PM',
            ],
            mol_labels: [
                {
                    short: "VSL",
                    color: "#F388E8",
                    name: "Virtual Synchronous Learning"
                },{
                    short: "DLS",
                    color: "#C37DFA",
                    name: "DLP/Asynchronous Learning"
                },{
                    short: "OCN",
                    color: "#7DE3FA",
                    name: "Online Counseling"
                },{
                    short: "OM",
                    color: "#7DFAAF",
                    name: "Online Mass"
                },{
                    short: "OCT",
                    color: "#FA7D93",
                    name: "Online Cathecesis"
                },{
                    short: "MEX",
                    color: "#F7FA7D",
                    name: "Monthly Exam"
                },{
                    short: "QEX",
                    color: "#FAC87D",
                    name: "Quarterly Exam"
                },{
                    short: "M/DT",
                    color: "#61ADF3",
                    name: "Medical / Dental Talk"
                },{
                    short: "CA",
                    color: "#F388E8",
                    name: "Culminating Activity"
                },{
                    short: "ABL",
                    color: "#7DE3FA",
                    name: "Activity Based Learning"
                }
            ]
        }
    },

    created() {
        // alert("what 2")
        var now = moment();
        var mDate = now.clone().weekday(1).format('DD');
        var mMonth = now.clone().weekday(1).format('MMMM');
        var sDate = now.clone().weekday(7).format('DD');
        var sMonth = now.clone().weekday(7).format('MMMM');
        var year = now.clone().weekday(7).format('YYYY');
        this.current_week = [mDate, mMonth, sDate, sMonth, year]
    },

    computed: {
        checkParamClassId() {
            return this.$store.state.teacher.current_class.id;
        }
    },

    watch: {
        checkParamClassId(to, from ) {
            this.student_announcement = this.$store.state.teacher.current_class.announcement !== null ? this.$store.state.teacher.current_class.announcement.content : '';
            this.schedule_data = this.$store.state.teacher.current_class.schedule !== null ? JSON.parse(this.$store.state.teacher.current_class.schedule.schedule) : {};
            this.schedule_data_updated = this.$store.state.teacher.current_class.schedule !== null ? this.$store.state.teacher.current_class.schedule.updated_at : '';
        } 
    },

    mounted() {
        var _self = this;
        $('#scheduleModal').on('hidden.bs.modal', function (e) {
            _self.schedule_form_data = {
                day: '',
                slot: '',
                day_key: '',
                slot_key: '',
                mol: {
                    short: "",
                    color: "",
                    name: ""
                }
            };
        })
    },

    methods: {
        cancelScheduleForm() {
            this.schedule_form_data = {
                day: '',
                slot: '',
                day_key: '',
                slot_key: '',
                mol: {
                    name: '',
                    color: '',
                    short: '',
                }
            };

            this.scheduleAction = 'store';
            jQuery('[data-dismiss="modal"]').click();
        },

        setScheduleDataMol(mol) {
            this.schedule_form_data.mol = mol;
        },

        setScheduleDataDay(day, key) {
            this.schedule_form_data.day = day;
            this.schedule_form_data.day_key = key;

             if((this.schedule_data[this.schedule_form_data.day_key] !== undefined && this.schedule_data[this.schedule_form_data.day_key][this.schedule_form_data.slot_key] !== undefined)) {
                this.hasConflict = true;
            } else {
                this.hasConflict = false;
            }
        },

        setScheduleDataSlot(slot, key) {
            this.schedule_form_data.slot = slot;
            this.schedule_form_data.slot_key = key;

            if((this.schedule_data[this.schedule_form_data.day_key] !== undefined && this.schedule_data[this.schedule_form_data.day_key][this.schedule_form_data.slot_key] !== undefined)) {
                this.hasConflict = true;
            } else {
                this.hasConflict = false;
            }
        },
        setDeleteDataSchedule(day, slot) {
            this.activeSchedule = [day, slot];
        },

        deleteSchedule() {
            delete this.schedule_data[this.activeSchedule[0]][this.activeSchedule[1]];
            this.storeSchedule('store');
        },

        storeSchedule(type = 'store') {

            if(type == 'check'
            && this.hasConflict) {
                jQuery('#scheduleConflictModal').modal('show')
                jQuery('#scheduleModal').modal('hide')
            } else {
                if(this.schedule_data[this.schedule_form_data.day_key] == undefined) {
                    this.schedule_data[this.schedule_form_data.day_key] = {};
                }

                this.schedule_data[this.schedule_form_data.day_key][this.schedule_form_data.slot_key] = {
                    name: this.schedule_form_data.mol.name,
                    color: this.schedule_form_data.mol.color,
                    short: this.schedule_form_data.mol.short
                };

                this.$store.dispatch('storeScheduleClass', {
                    class_id: this.$route.params.class_id,
                    schedule: JSON.stringify(this.schedule_data)
                }).then(response => {
                    this.cancelScheduleForm();

                    this.$store.commit('setCurrentClassDetails', {
                        ...this.$store.state.teacher.current_class,
                        schedule: response.data.data
                    });

                    this.schedule_data = JSON.parse(response.data.data.schedule);
                    this.$nextTick(function() {
                        jQuery('[data-toggle="tooltip"]').tooltip()
                    })

                    this.scheduleAction = 'store';
                })
            }
        },

        updateSchedule() {

        },

        showStudentAnnouncementForm() {
            this.toggle.student_announcement_action = 'save';

            this.$nextTick(function() {
                jQuery('.text-editor').trumbowyg({
                    btns: [['strong', 'em', 'del'], ['unorderedList', 'orderedList']],
                    autogrow: false
                });
            })
        },
        cancelStudentAnnouncement() {
            this.toggle.student_announcement_action = 'edit';

            this.$nextTick(function() {
                jQuery('.text-editor').trumbowyg('destroy')
            })
        },

        saveStudentAnnouncement() {

            this.$store.dispatch('storeAnnouncement', {
                class_id: this.$route.params.class_id,
                content: jQuery('.text-editor').trumbowyg('html'),
                type: 1
            }).then(response => {
                this.student_announcement = response.data.data.content;
                this.$store.commit('setCurrentClassDetails', {
                    ...this.$store.state.teacher.current_class,
                    announcement: response.data.data
                });
                
                jQuery('.text-editor').trumbowyg('destroy')

                this.toggle.student_announcement_action = 'edit';
            })
        }
    }
}
</script>