<template>
    <div class="pb-5">
        <div class="row mt-5 d-flex justify-content-between main-components-holder">
            <div class="col-xl-12 col-md-12 mt-5 mb-3">
                <h1 class="text-white">Student List</h1>
            </div>
            <div class="col-xl-12 col-md-12">

                <div class="card ">
                    <div class="card-body pb-0 mb-0 d-flex justify-content-between align-items-center">
                        <div>
                            <!-- <p class="mb-0 text-navy">{{ $store.state.teacher.current_class.section.grade_level.name }} : {{ $store.state.teacher.current_class.section.name }} [{{ $store.state.teacher.current_class.subject.name}}]</p> -->
                            <!-- <h1 class="m-0 text-navy">March 24, 2021</h1> -->
                            <h1 class="m-0 text-navy">{{ $store.state.teacher.current_class.section.grade_level.name }} : {{ $store.state.teacher.current_class.section.name }} [{{ $store.state.teacher.current_class.subject.name}}]</h1>
                        </div>

                        <div class="card bg-light-blue text-navy-blue">
                            <div class="card-body px-5 text-center">
                                <p class="m-0 font-size-14">Count</p>
                                <p class="m-0"><span class="font-size-28">{{ students.length }}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0 m-0 table-responsive min-table-height">
                       <table class="table">
                           <thead>
                               <th>Last Name</th>
                               <th>First Name</th>
                               <th>Middle Name</th>
                               <!-- <th>Time In</th>
                               <th>Time Out</th> -->
                           </thead>
                           <tbody>
                               <tr v-for="std of students" :key="std.id">
                                    <td>{{ std.user.lastname }}</td>
                                    <td>{{ std.user.firstname }}</td>
                                    <td>{{ std.user.middlename }}</td>
                                    <!-- <td>Time In</td>
                                    <td>Time Out</td>  -->
                               </tr>
                           </tbody>
                       </table>
                    </div>
                </div>

                <quote></quote>

             
            </div>
        </div>
    </div>
</template>

<script>
import Quote from '../../components/Quote'

export default {
    components: {Quote},
    data() {
        return {
            students: []
        }
    },

    created() {
        this.$store.dispatch('getClassStudents', {
            class_id: this.$store.state.teacher.current_class.id
        }).then(response => {
            this.students = response.data.data;
        })
    }
}
</script>