<template>
    <div>
        <div class="row mt-5 d-flex justify-content-between main-components-holder">
            <div class="col-xl-12 col-md-12 mt-5 mb-3">
                <h1 class="text-white">Virtual Class</h1>
            </div>
            <div class="col-xl-12 col-md-12">

                <div class="card">
                    <div class="card-body pb-0 mb-0 d-flex justify-content-between align-items-center">
                        <div>
                            <h1 class="m-0 text-navy">{{ $store.state.teacher.current_class.section.grade_level.name }} : {{ $store.state.teacher.current_class.section.name }} [{{ $store.state.teacher.current_class.subject.name}}]</h1>
                        </div>

                        <div class="d-flex justify-content-start">
                            <div class="mr-5">
                                <a href="#" data-toggle="modal" data-target="#exampleModal" v-on:click="addForm()"><img src="/assets/img/icons/Icon_Add.svg" alt=""> Add Meeting</a>
                            </div>
                            <div class="card bg-light-blue text-navy-blue">
                                <div class="card-body px-5 text-center">
                                    <p class="m-0 font-size-14">Count</p>
                                    <p class="m-0"><span class="font-size-28">{{ meetings.length }}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0 m-0 min-table-height">
                        <div class="text-center" v-if="isLoading">
                            <p class="font-size-22 text-navy-blue">Loading Content...</p>
                        </div>
                       <table class="table" v-if="!isLoading">
                           <thead>
                               <th>Title</th>
                               <th>Platform</th>
                               <th>Link</th>
                               <th>Password</th>
                               <th>Schedule</th>
                               <th>Updated at</th>
                               <th></th>
                           </thead>
                           <tbody v-if="meetings.length >= 1">
                               <tr v-for="meeting of meetings" :key="meeting.id">
                                   <td>{{ meeting.name }}</td>
                                   <td>{{ meeting.platform }}</td>
                                   <td><a :href="meeting.link" target="_blank">{{ meeting.link }}</a></td>
                                   <td>{{ meeting.password }}</td>
                                   <td>{{ meeting.date + ' ' + meeting.time }}</td>
                                   <td>{{  $root.format_date(meeting.updated_at, 'dddd, MMMM Do YYYY, h:mm:ss a') }}</td>
                                   <td>
                                       <div class="dropdown dropleft">
                                            <div class="dropdown-toggle no-before" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="/assets/img/icons/Icon_Option.svg" alt="">
                                            </div>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal" v-on:click="editForm(meeting)">
                                                    <img src="/assets/img/icons/Icon_Edit.svg" alt=""> 
                                                    <div>
                                                        Update
                                                    </div>
                                                </a>
                                                <a class="dropdown-item" href="#" v-on:click="deleteMeeting(meeting)">
                                                    <img src="/assets/img/icons/Icon_Remove.svg" alt=""> 
                                                    <div>
                                                        Delete
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                   </td>
                               </tr>
                           </tbody>

                           <tbody v-if="meetings.length <= 0">
                               <tr>
                                   <td colspan="6" class="text-center">No virtual class added yet.</td>
                               </tr>
                           </tbody>
                       </table>
                    </div>
                </div>

                <quote></quote>
             
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <div>
                            <h5 class="font-size-18 font-weight-bold mb-0">Meeting</h5>
                            <p class="text-opaque text-muted mt-0 font-size-14">{{ action == 'store' ? 'Add a new ' : 'Update ' }}Meeting Link</p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="/assets/img/icons/Icon_Close.svg" alt="">
                        </button>
                    </div>
                    <div class="modal-body px-5">
                        <div class="form-group row d-flex justify-content-center align-items-center">
                            <label class="col-md-3 text-opaque text-right" for="">Title</label>
                            <input type="text" class="form-control col-md-9" v-model="meeting_data.name">
                        </div>
                        <div class="form-group row d-flex justify-content-center align-items-center">
                            <label class="col-md-3 text-opaque text-right" for="">Platform</label>
                            <input type="text" class="form-control col-md-9" placeholder="Google Meet, Zoom, and etc." v-model="meeting_data.platform">
                        </div>
                        <div class="form-group row d-flex justify-content-center align-items-center">
                            <label class="col-md-3 text-opaque text-right" for="">Link</label>
                            <input type="text" class="form-control col-md-9" v-model="meeting_data.link" placeholder="http://...">
                        </div>
                        <div class="form-group row d-flex justify-content-center align-items-center">
                            <label class="col-md-3 text-opaque text-right" for="">Password</label>
                            <input type="text" class="form-control col-md-9" v-model="meeting_data.password">
                        </div>
                        <div class="form-group row d-flex justify-content-center align-items-center">
                            <label class="col-md-3 text-opaque text-right" for="">Date</label>
                            <input type="date" class="form-control col-md-9" v-model="meeting_data.date">
                        </div>
                        <div class="form-group row d-flex justify-content-center align-items-center">
                            <label class="col-md-3 text-opaque text-right" for="">Time</label>
                            <input type="time" class="form-control col-md-9" v-model="meeting_data.time">
                        </div>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="cancelForm()">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="storeMeeting()" v-if="action == 'store'">Add Meeting</button>
                        <button type="button" class="btn btn-primary" v-on:click="updateMeeting()" v-if="action == 'update'">Update Meeting</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import Quote from '../../components/Quote'

export default {
    components: {Quote},
    data() {
        return {
            meetings: [],

            action: 'store',
            isLoading: false,

            meeting_data: {
                name: '',
                plaform: '',
                link: '',
                password: '',
                date: '',
                time: '',
            }
        }
    },

    created() {
        this.getMeetingList();
    },

    methods: {
        cancelForm() {
            this.meeting_data = {
                name: '',
                platform: '',
                link: '',
                password: '',
                date: '',
                time: '',
            };
        },

        addForm() {
            this.action = "store";
        },
        
        editForm(meeting) {
            this.meeting_data = {...meeting, meeting_id: meeting.id};
            this.action = "update";
        },

        getMeetingList() {
            this.isLoading = true;
            this.$store.dispatch('getVirtualClasses', {
                class_id: this.$route.params.class_id
            }).then(response => {
                this.isLoading = false;
                this.meetings = response.data.data;
            })
        },

        storeMeeting() {
            this.isLoading = true;
            this.$store.dispatch('storeVirtualClass', {...this.meeting_data, class_id: this.$route.params.class_id})
            .then(response => {
                this.isLoading = false;
                this.meetings.push(response.data.data);
                this.cancelForm();
                jQuery('[data-dismiss="modal"]').click();
            })
            .catch(err => {
                this.isLoading = false;
                console.log(err);
            }) 
        },

        updateMeeting() {
            this.isLoading = true;
            this.$store.dispatch('updateVirtualClass', {...this.meeting_data, class_id: this.$route.params.class_id})
            .then(response => {
                this.isLoading = false;
                this.getMeetingList();

                this.cancelForm();
                jQuery('[data-dismiss="modal"]').click();
            })
            .catch(err => {
                this.isLoading = false;
                console.log(err);
            }) 
        },

        deleteMeeting(meeting) {
            this.isLoading = true;
            this.$store.dispatch('deleteVirtualClass', {meeting_id : meeting.id})
            .then(response => {
                this.isLoading = false;
                this.getMeetingList();
            })
            .catch(err => {
                this.isLoading = false;
                console.log(err);
            }) 
        }
    }
}
</script>