<template>
    <div>
        <div class="login_sidebar position-realtive">
            <h1 class="mt-5">Education — <br>
            Your Door to the Future.</h1>

            <p class="font-size-16 mt-5">Welcome to our School Management System. Use the full
feature of our system according to your needs. We create
a community for life long learners</p>

            <img class="mt-5" src="/assets/img/Image (2).png" alt="">
            <div class="position-absolute" style="bottom: 30px; left: 30px;">
                <img src="/assets/img/Complexus_Logo.svg" alt="">
            </div>
        </div>

        <div class="login-main-content">
            <div class="container-fluid position-relative">
                <div class="position-absolute" style="left: 0; top: 30px;">
                    <div class="d-flex justify-content-start align-items-center">
                        <img src="/assets/img/icons/Icon_Arrow.svg" alt=""> <span class="ml-2 font-size-16 text-navy-blue">Back to School Selection</span>
                    </div>
                </div>

                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-5">
                        <img class="mb-2" :src="$root.storage_link($store.state.school.logo)" alt="">

                        <div class="d-flex justify-content-start align-items-center">
                            <h1 class="font-size-32 mt-2 text-navy-blue">I am a</h1>
                            <div class="dropdown ml-3">
                                <div class="dropdown-toggle font-size-32 font-weight-bold" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="text-primary">
                                        {{ user_type == 2 ? 'TEACHER' : 'STUDENT' }}
                                    </span>
                                </div>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" v-on:click="setUserType(2)">Teacher</a>
                                    <a class="dropdown-item" href="#" v-on:click="setUserType(3)">Student</a>
                                </div>
                            </div>
                        </div>

                        <p class="font-size-16 text-navy-blue">Login as a Teacher or a Student</p>

                        <div class="form-group mt-5">
                            <label for="" class="text-navy-blue">Email Address</label>
                            <input type="text" placeholder="Enter email address" v-model="email" class="form-control" v-on:keyup="checkKey" :class="{'border-danger': getError('email') != null}">
                            <p class="small m-2 text-danger" v-if="getError('email') != null">{{ getError('email') }}</p>
                        </div>

                        <div class="form-group">
                            <label for="" class="text-navy-blue">Password</label>
                            <div class="input-group password-input">
                                <input :type="field_type_password" class="form-control" v-model="password" placeholder="Enter password" v-on:keyup="checkKey" :class="{'border-danger': getError('password') != null}">
                                <div class="input-group-append">
                                    <span class="input-group-text pointer" :class="{'border-danger': getError('password') != null}" v-on:click="field_type_password == 'password'  ? field_type_password = 'text' : field_type_password = 'password'" id="basic-addon2"><img :src="'/assets/img/icons/' + (field_type_password == 'password' ? 'Icon_Show' : 'Icon_Hide') +'.svg'" alt=""></span>
                                </div>
                            </div>
                            <p class="small m-2 text-danger" v-if="getError('password') != null">{{ getError('password') }}</p>
                        </div>

                        <a href="#" class="float-right">Forgot password?</a>
                        <div class="clearfix"></div>
                        <button class="btn btn-primary w-100 mt-5 pointer" v-on:click="login()" v-if="!isLoading">Sign in</button>
                        <button class="btn btn-primary w-100 mt-5 pointer" disabled v-if="isLoading">Singing in...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            user_type: 3,
            isLoading: false,

            email: '',
            password: '',

            class_id: null,
            field_type_password: 'password',

            errors: ''
        }
    },

    created() {
        this.$store.dispatch('getSchool', {
            id: this.$route.params.school_id
        }).then(response => {
            this.$store.commit('setSchool', response.data.data)
        });
    },

    methods: {
        getError(field) {
            return this.errors[field] != undefined || this.errors[field] != null ? this.errors[field][0] : null;
        },

        setUserType(type) {
            this.user_type = type;
        },

        checkKey(e) {
            if(e.keyCode == 13) this.login()
        },

        login() {
            this.isLoading = true;

            this.$store.dispatch('login', {
                school_id: this.$store.state.school.id,
                role: this.user_type,
                email: this.email,
                password: this.password
            }).then(response => {
                this.$store.commit('setUser', response.data.data);
                
                if(response.data.data.role == 2) {
                    this.$store.dispatch('getTeacher', {
                        'user_id': response.data.data.id
                    })
                    .then(teacher => {
                        this.$store.commit("setTeacherDetails", teacher.data.data);
                        this.redirect(teacher.data.data.teacher.classes);
                    })
                } else if(response.data.data.role == 3) {
                    console.log('student start');
                    this.$store.dispatch('getStudent', {
                        'user_id': response.data.data.id
                    })
                    .then(student => {
                        this.$store.commit("setStudentDetails", student.data.data.user);
                        this.$store.commit("setStudentCurrentRecord", student.data.data.current_record);
                        this.redirect(student.data.data.user.student.classes);
                    })
                }
                this.isLoading = false
            }).catch(err => {
                this.errors = err.response.data.errors
                this.isLoading = false
            })
        },

        redirect(classes) {
            console.log(classes);
             if(classes.length > 0) {
                this.$store.dispatch('getCurrentClassDetails', {
                    class_id: classes[0].id 
                }).then(class_data => {
                
                    if(this.user_type == 2) {
                        this.$store.commit('setCurrentClassDetails', class_data.data.data);
                    }

                    if(this.user_type == 3) {
                        this.$store.commit('setStudentCurrentClassDetails', class_data.data.data);
                    }

                    this.$router.push({
                        name: this.user_type == 2 ? 'dashboard.index' : 'student.index',
                        params: {
                            class_id: classes[0].id 
                        }
                    });

                })
            } else {
                console.log("something went wrong.");
            }
        }
    }
}
</script>