<template>
    <div>
        <div class="card-body pb-0 mb-0 d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column  justify-content-between" style="height: 123px;">
                <p class="mb-0 text-navy">{{ $store.state.student.current_class.section.grade_level.name }} : {{ $store.state.student.current_class.section.name }} [{{ $store.state.student.current_class.subject.name}}]</p>
                <h1 class="m-0 text-navy">Assessments</h1>
                <!-- <h1 class="m-0 text-navy">{{ $store.state.teacher.current_class.section.grade_level.name }} : {{ $store.state.teacher.current_class.section.name }} [{{ $store.state.teacher.current_class.subject.name}}]</h1> -->
            </div>

            <div class="d-flex justify-content-start">
                <div class="card bg-light-blue text-navy-blue">
                    <div class="card-body px-5 text-center">
                        <p class="m-0 font-size-14">Count</p>
                        <p class="m-0"><span class="font-size-28">{{ meetings.length }}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0 m-0 table-responsive min-table-height">
            <div class="text-center" v-if="isLoading">
                <p class="font-size-22 text-navy-blue">Loading Content...</p>
            </div>
            <table class="table" v-if="!isLoading">
                <thead>
                    <th>Title</th>
                    <th>Download Link</th>
                    <th>Deadline</th>
                </thead>
                <tbody v-if="meetings.length >= 1">
                    <tr v-for="assessment of meetings" :key="assessment.id">
                        <td>{{ assessment.name }}</td>
                        <td><a :href="assessment.link" target="_blank">{{ assessment.link }}</a></td>
                        <td>{{ assessment.date + ' ' + assessment.time }}</td>
                    </tr>
                </tbody>

                <tbody v-if="meetings.length <= 0">
                    <tr>
                        <td colspan="3" class="text-center">
                            <img src="/assets/img/Empty.svg" alt="">
                            <p class="font-size-14 text-grey m-0 mt-4">No Assessment added yet.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            meetings: [],
            isLoading: false,
        }
    },

    created() {
        this.getAssessments();
    },

    methods: {

        getAssessments() {
            this.isLoading = true;
            this.$store.dispatch('getAssessmentClasses', {
                class_id: this.$route.params.class_id
            }).then(response => {
                this.isLoading = false;
                this.meetings = response.data.data;
            })
        }
    }
}
</script>