<template>
    <div class="pb-5">
        <div class="row mt-5 d-flex justify-content-between main-components-holder">
            <div class="col-xl-12 col-md-12 mt-5 mb-3">
                <h1 class="text-white">File Manager</h1>
            </div>
            <div class="col-xl-12 col-md-12">

                <div class="card">
                    <div class="card-body d-flex justify-content-start align-items-center">
                        <div class="d-flex justify-content-center align-items-center mr-5 sub-menu-item" :class="{ active: $route.name == 'student.files.powerpoint'}" v-on:click="$router.push({ name: 'student.files.powerpoint', params : {class_id: $route.params.class_id} })">
                            <img src="/assets/img/icons/Icon_Powerpoint.png" alt="">
                            <p class="m-0 font-size-14 font-weight-bold ml-2">Powerpoint</p>
                        </div>
                        <div class="d-flex justify-content-center align-items-center mr-5 sub-menu-item" :class="{ active: $route.name == 'student.files.supplement'}" v-on:click="$router.push({ name: 'student.files.supplement', params : {class_id: $route.params.class_id} })">
                            <img src="/assets/img/icons/Icon_Paper.png" alt="">
                            <p class="m-0 font-size-14 font-weight-bold ml-2">Supplements</p>
                        </div>
                        <div class="d-flex justify-content-center align-items-center mr-5 sub-menu-item" :class="{ active: $route.name == 'student.files.assessment'}" v-on:click="$router.push({ name: 'student.files.assessment', params : {class_id: $route.params.class_id} })">
                            <img src="/assets/img/icons/Icon_Assessment.png" alt="">
                            <p class="m-0 font-size-14 font-weight-bold ml-2">Assessment</p>
                        </div>
                    </div>
                    

                    <router-view></router-view>
                </div>

                <quote></quote>
            </div>
        </div>
    </div>
</template>

<script>
import Quote from '../../../components/Quote.vue'

export default {
    components: {Quote},
    data() {
        return {
        }
    },

    created() {
    },

    methods: {
    }
}
</script>