<template>
    <div>
        <div class="card-body pb-0 mb-0 d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column  justify-content-between" style="height: 123px;">
                <p class="mb-0 text-navy">{{ $store.state.student.current_class.section.grade_level.name }} : {{ $store.state.student.current_class.section.name }} [{{ $store.state.student.current_class.subject.name}}]</p>
                <h1 class="m-0 text-navy">Supplements</h1>
                <!-- <h1 class="m-0 text-navy">{{ $store.state.teacher.current_class.section.grade_level.name }} : {{ $store.state.teacher.current_class.section.name }} [{{ $store.state.teacher.current_class.subject.name}}]</h1> -->
            </div>

            <div class="d-flex justify-content-start">
                
                <div class="card bg-light-blue text-navy-blue">
                    <div class="card-body px-5 text-center">
                        <p class="m-0 font-size-14">Count</p>
                        <p class="m-0"><span class="font-size-28">{{ modules.length }}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0 m-0 table-responsive min-table-height">
            <div class="text-center" v-if="isLoading">
                <p class="font-size-22 text-navy-blue">Loading Content...</p>
            </div>
            <table class="table" v-if="!isLoading">
                <thead>
                    <th>Title</th>
                    <th>Download Link</th>
                    <th>Deadline</th>
                </thead>
                <tbody v-if="modules.length >= 1">
                    <tr v-for="_module of modules" :key="_module.id">
                        <td>{{ _module.name }}</td>
                        <td><a :href="$root.storage_link(_module.path)" target="_blank">{{ $root.storage_link(_module.path) }}</a></td>
                        <td>{{ (_module.date || '' ) +  ' ' + (_module.time || '') }}</td>
                       
                    </tr>
                </tbody>

                <tbody v-if="modules.length <= 0">
                    <tr>
                        <td colspan="3" class="text-center">
                            <img src="/assets/img/Empty.svg" alt="">
                            <p class="font-size-14 text-grey m-0 mt-4">No Supplement added yet.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<script>
export default {
    data() {
        return {
            modules: [],
            isLoading: false,
        }
    },

    created() {
        this.getModules();
    },

    methods: {
        getModules() {
            this.isLoading = true;
            this.$store.dispatch('getModuleClass', {
                class_id: this.$route.params.class_id,
                type: 2
            }).then(response => {
                this.isLoading = false;
                this.modules = response.data.data;
            })
        },

        storeModule() {
            this.form_data = new FormData();
            this.form_data.set('class_id', this.$route.params.class_id);
            this.form_data.set('name', this.module_data.name);
            this.form_data.set('date', this.module_data.date);
            this.form_data.set('time', this.module_data.time);
            this.form_data.set('type', 2);
            this.form_data.set('file', this.$refs.file.files[0]);

            this.$store.dispatch('storeModuleClass', this.form_data)
            .then(response => {
                this.modules.push(response.data.data);
                jQuery('[data-dismiss="modal"]').click();
            })
            .catch(err => {
                console.log(err);
            }) 
        },
        setToDelete(_module) {
            this.to_delete = _module
        },
        deleteModule() {
            this.$store.dispatch('deleteModuleClass', {module_id : this.to_delete.id})
            .then(response => {
                this.getModules();
                this.to_delete = null;
                jQuery('[data-dismiss="modal"]').click();
            })
            .catch(err => {
                console.log(err);
            }) 
        }
    }
}
</script>