<template>
    <div>
        <div class="card-body pb-0 mb-0 d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column  justify-content-between" style="height: 123px;">
                <p class="mb-0 text-navy">{{ $store.state.teacher.current_class.section.grade_level.name }} : {{ $store.state.teacher.current_class.section.name }} [{{ $store.state.teacher.current_class.subject.name}}]</p>
                <h1 class="m-0 text-navy">Assessments</h1>
                <!-- <h1 class="m-0 text-navy">{{ $store.state.teacher.current_class.section.grade_level.name }} : {{ $store.state.teacher.current_class.section.name }} [{{ $store.state.teacher.current_class.subject.name}}]</h1> -->
            </div>

            <div class="d-flex justify-content-start">
                <div class="mr-5">
                    <a href="#" data-toggle="modal" data-target="#exampleModal" v-on:click="addForm()"><img src="/assets/img/icons/Icon_Add.svg" alt=""> Add Assessment</a>
                </div>
                <div class="card bg-light-blue text-navy-blue">
                    <div class="card-body px-5 text-center">
                        <p class="m-0 font-size-14">Count</p>
                        <p class="m-0"><span class="font-size-28">{{ meetings.length }}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0 m-0 table-responsive min-table-height">
            <div class="text-center" v-if="isLoading">
                <p class="font-size-22 text-navy-blue">Loading Content...</p>
            </div>
            <table class="table" v-if="!isLoading">
                <thead>
                    <th>Title</th>
                    <th>Download Link</th>
                    <th>Deadline</th>
                    <th></th>
                </thead>
                <tbody v-if="meetings.length >= 1">
                    <tr v-for="assessment of meetings" :key="assessment.id">
                        <td>{{ assessment.name }}</td>
                        <td><a :href="assessment.link" target="_blank">{{ assessment.link }}</a></td>
                        <td>{{ assessment.date + ' ' + assessment.time }}</td>
                        <td>
                            <div class="dropdown dropleft">
                                <div class="dropdown-toggle no-before" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="/assets/img/icons/Icon_Option.svg" alt="">
                                </div>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal" v-on:click="editForm(assessment)">
                                        <img src="/assets/img/icons/Icon_Edit.svg" alt=""> 
                                        <div>
                                            Update
                                        </div>
                                    </a>
                                    <a class="dropdown-item" href="#" v-on:click="setToDelete(assessment)" data-toggle="modal" data-target="#deleteModal">
                                        <img src="/assets/img/icons/Icon_Remove.svg" alt=""> 
                                        <div>
                                            Delete
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>

                <tbody v-if="meetings.length <= 0">
                    <tr>
                        <td colspan="6" class="text-center">
                            <img src="/assets/img/Empty.svg" alt="">
                            <p class="font-size-14 text-grey m-0 mt-4">No Assessment added yet.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <div>
                            <h5 class="font-size-18 font-weight-bold mb-0">Assessment</h5>
                            <p class="text-opaque text-muted mt-0 font-size-14">{{ action == 'store' ? 'Add a new ' : 'Update ' }}Assessment Link</p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="/assets/img/icons/Icon_Close.svg" alt="">
                        </button>
                    </div>
                    <div class="modal-body px-5">
                        <div class="form-group row d-flex justify-content-center align-items-center">
                            <label class="col-md-3 text-opaque text-right" for="">Title</label>
                            <input type="text" class="form-control col-md-9" v-model="assessment_data.name">
                        </div>
                        <div class="form-group row d-flex justify-content-center align-items-center">
                            <label class="col-md-3 text-opaque text-right" for="">Link</label>
                            <input type="text" class="form-control col-md-9" v-model="assessment_data.link" placeholder="http://...">
                        </div>
                        <div class="form-group row d-flex justify-content-center align-items-center">
                            <label class="col-md-3 text-opaque text-right" for="">Date</label>
                            <input type="date" class="form-control col-md-9" v-model="assessment_data.date">
                        </div>
                        <div class="form-group row d-flex justify-content-center align-items-center">
                            <label class="col-md-3 text-opaque text-right" for="">Time</label>
                            <input type="time" class="form-control col-md-9" v-model="assessment_data.time">
                        </div>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="cancelForm()">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="storeMeeting()" v-if="action == 'store'">Add Assessment</button>
                        <button type="button" class="btn btn-primary" v-on:click="updateMeeting()" v-if="action == 'update'">Update Assessment</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <div>
                            <h5 class="font-size-18 font-weight-bold mb-0">Confirmation</h5>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="/assets/img/icons/Icon_Close.svg" alt="">
                        </button>
                    </div>
                    <div class="modal-body px-5">
                       Are you sure you want to delete the selected assessment?
                    </div>

                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-secondary"  v-on:click="deleteMeeting()">Continue</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>

                </div>
            </div>
        </div>


    </div>
</template>

<script>
export default {
    data() {
        return {
            meetings: [],

            action: 'store',

            assessment_data: {
                name: '',
                link: '',
                date: '',
                time: '',
            },
            isLoading: false,

            to_delete : null
        }
    },

    created() {
        this.getAssessments();
    },

    methods: {
        cancelForm() {
            this.assessment_data = {
                name: '',
                platform: '',
                link: '',
                password: '',
                date: '',
                time: '',
            };
        },

        addForm() {
            this.action = "store";
        },
        
        editForm(assessment) {
            this.assessment_data = {...assessment, assessment_id: assessment.id};
            this.action = "update";
        },

        getAssessments() {
            this.isLoading = true;
            this.$store.dispatch('getAssessmentClasses', {
                class_id: this.$route.params.class_id
            }).then(response => {
                this.isLoading = false;
                this.meetings = response.data.data;
            })
        },

        setToDelete(assessment) {
            this.to_delete = assessment;
        },

        storeMeeting() {
            this.$store.dispatch('storeAssessmentClass', {...this.assessment_data, class_id: this.$route.params.class_id})
            .then(response => {
                this.meetings.push(response.data.data);
                this.cancelForm();
                jQuery('[data-dismiss="modal"]').click();
            })
            .catch(err => {
                console.log(err);
            }) 
        },

        updateMeeting() {
            this.$store.dispatch('updateAssessmentClass', {...this.assessment_data, class_id: this.$route.params.class_id})
            .then(response => {
                this.getAssessments();

                this.cancelForm();
                jQuery('[data-dismiss="modal"]').click();
            })
            .catch(err => {
                console.log(err);
            }) 
        },

        deleteMeeting() {
            this.$store.dispatch('deleteAssessmentClass', {assessment_id : this.to_delete.id})
            .then(response => {
                this.getAssessments();
                jQuery('[data-dismiss="modal"]').click();
            })
            .catch(err => {
                console.log(err);
            }) 
        }
    }
}
</script>