<template>
    <div>
        <div class="card-body pb-0 mb-0 d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column  justify-content-between" style="height: 123px;">
                <p class="mb-0 text-navy">{{ $store.state.teacher.current_class.section.grade_level.name }} : {{ $store.state.teacher.current_class.section.name }} [{{ $store.state.teacher.current_class.subject.name}}]</p>
                <h1 class="m-0 text-navy">Powerpoint</h1>
                <!-- <h1 class="m-0 text-navy">{{ $store.state.teacher.current_class.section.grade_level.name }} : {{ $store.state.teacher.current_class.section.name }} [{{ $store.state.teacher.current_class.subject.name}}]</h1> -->
            </div>

            <div class="d-flex justify-content-start">
                <!-- <div class="mr-3">
                    <a href="#" data-toggle="modal" data-target="#exampleModal" v-on:click="addForm()"><img src="/assets/img/icons/Icon_Add.svg" alt=""> Add Meeting</a>
                </div> -->
                <div class="card bg-light-blue text-navy-blue">
                    <div class="card-body px-5 text-center">
                        <p class="m-0 font-size-14">Count</p>
                        <p class="m-0"><span class="font-size-28">{{ modules.length }}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0 m-0 table-responsive min-table-height">
            <div class="text-center" v-if="isLoading">
                <p class="font-size-22 text-navy-blue">Loading Content...</p>
            </div>
            <table class="table" v-if="!isLoading">
                <thead>
                    <th>Title</th>
                    <th>Download Link</th>
                </thead>
                <tbody v-if="modules.length >= 1">
                    <tr v-for="_module of modules" :key="_module.id">
                        <td>{{ _module.name }}</td>
                        <td><a :href="$root.storage_link(_module.path)" target="_blank">{{ $root.storage_link(_module.path) }}</a></td>
                    </tr>
                </tbody>

                <tbody v-if="modules.length <= 0">
                    <tr>
                        <td colspan="6" class="text-center">
                            <img src="/assets/img/Empty.svg" alt="">
                            <p class="font-size-14 text-grey m-0 mt-4">No Powerpoint added yet.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            modules: [],
            isLoading: false,
        }
    },

    created() {
        this.getModules();
    },

    methods: {
        getModules() {
            this.isLoading = true;
            this.$store.dispatch('getModuleClass', {
                class_id: this.$route.params.class_id,
                type: 1
            }).then(response => {
                this.isLoading = false;
                this.modules = response.data.data;
            })
        },
    }
}
</script>