<template>
    <div>
        <div class="card-body pb-0 mb-0 d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column  justify-content-between" style="height: 123px;">
                <p class="mb-0 text-navy">{{ $store.state.teacher.current_class.section.grade_level.name }} : {{ $store.state.teacher.current_class.section.name }} [{{ $store.state.teacher.current_class.subject.name}}]</p>
                <h1 class="m-0 text-navy">Supplements</h1>
                <!-- <h1 class="m-0 text-navy">{{ $store.state.teacher.current_class.section.grade_level.name }} : {{ $store.state.teacher.current_class.section.name }} [{{ $store.state.teacher.current_class.subject.name}}]</h1> -->
            </div>

            <div class="d-flex justify-content-start">
                <div class="mr-5">
                    <a href="#" data-toggle="modal" data-target="#exampleModal"><img src="/assets/img/icons/Icon_Add.svg" alt=""> Add Supplement</a>
                </div>
                <div class="card bg-light-blue text-navy-blue">
                    <div class="card-body px-5 text-center">
                        <p class="m-0 font-size-14">Count</p>
                        <p class="m-0"><span class="font-size-28">{{ modules.length }}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0 m-0 table-responsive min-table-height">
            <div class="text-center" v-if="isLoading">
                <p class="font-size-22 text-navy-blue">Loading Content...</p>
            </div>
            <table class="table" v-if="!isLoading">
                <thead>
                    <th>Title</th>
                    <th>Download Link</th>
                    <th>Deadline</th>
                    <th></th>
                </thead>
                <tbody v-if="modules.length >= 1">
                    <tr v-for="_module of modules" :key="_module.id">
                        <td>{{ _module.name }}</td>
                        <td><a :href="$root.storage_link(_module.path)" target="_blank">{{ $root.storage_link(_module.path) }}</a></td>
                        <td>{{ (_module.date || '' ) +  ' ' + (_module.time || '') }}</td>
                        <td>
                            <div class="dropdown dropleft">
                                <div class="dropdown-toggle no-before" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="/assets/img/icons/Icon_Option.svg" alt="">
                                </div>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" v-on:click="setToDelete(_module)" data-toggle="modal" data-target="#deleteModal">
                                        <img src="/assets/img/icons/Icon_Remove.svg" alt=""> 
                                        <div>
                                            Delete
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>

                <tbody v-if="modules.length <= 0">
                    <tr>
                        <td colspan="6" class="text-center">
                            <img src="/assets/img/Empty.svg" alt="">
                            <p class="font-size-14 text-grey m-0 mt-4">No Supplements added yet.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <div>
                            <h5 class="font-size-18 font-weight-bold mb-0">Supplement</h5>
                            <p class="text-opaque text-muted mt-0 font-size-14">Add a new Supplement</p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="/assets/img/icons/Icon_Close.svg" alt="">
                        </button>
                    </div>
                    <div class="modal-body px-5">
                        <div class="form-group row d-flex justify-content-center align-items-center">
                            <label class="col-md-3 text-opaque text-right" for="">Name</label>
                            <input type="text" class="form-control col-md-9" v-model="module_data.name">
                        </div>
                        <div class="form-group row d-flex justify-content-center align-items-center">
                            <label class="col-md-3 text-opaque text-right" for="">Deadline Date</label>
                            <input type="date" class="form-control col-md-9" v-model="module_data.date">
                        </div>
                        <div class="form-group row d-flex justify-content-center align-items-center">
                            <label class="col-md-3 text-opaque text-right" for="">Deadline Time</label>
                            <input type="time" class="form-control col-md-9" v-model="module_data.time">
                        </div>
                        <div class="form-group row d-flex justify-content-center align-items-center">
                            <label class="col-md-3 text-opaque text-right" for="">File Upload</label>
                            <input type="file" class="col-md-9" accept=".pdf,.doc" ref="file">
                        </div>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="storeModule()">Add Module</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <div>
                            <h5 class="font-size-18 font-weight-bold mb-0">Confirmation</h5>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="/assets/img/icons/Icon_Close.svg" alt="">
                        </button>
                    </div>
                    <div class="modal-body px-5">
                       Are you sure you want to delete the selected supplement?
                    </div>

                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-secondary"  v-on:click="deleteModule()">Continue</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    data() {
        return {
            modules: [],

            action: 'store',
            form_data: null,

            to_delete: null,
            isLoading: false,

            module_data: {
                name: '',
                date: '',
                time: ''
            }
        }
    },

    created() {
        this.getModules();
    },

    methods: {
        getModules() {
            this.isLoading = true;
            this.$store.dispatch('getModuleClass', {
                class_id: this.$route.params.class_id,
                type: 2
            }).then(response => {
                this.isLoading = false;
                this.modules = response.data.data;
            })
        },

        storeModule() {
            this.form_data = new FormData();
            this.form_data.set('class_id', this.$route.params.class_id);
            this.form_data.set('name', this.module_data.name);
            this.form_data.set('date', this.module_data.date);
            this.form_data.set('time', this.module_data.time);
            this.form_data.set('type', 2);
            this.form_data.set('file', this.$refs.file.files[0]);

            this.$store.dispatch('storeModuleClass', this.form_data)
            .then(response => {
                this.modules.push(response.data.data);
                jQuery('[data-dismiss="modal"]').click();
            })
            .catch(err => {
                console.log(err);
            }) 
        },
        setToDelete(_module) {
            this.to_delete = _module
        },
        deleteModule() {
            this.$store.dispatch('deleteModuleClass', {module_id : this.to_delete.id})
            .then(response => {
                this.getModules();
                this.to_delete = null;
                jQuery('[data-dismiss="modal"]').click();
            })
            .catch(err => {
                console.log(err);
            }) 
        }
    }
}
</script>